@use '/src/styles/variables';

.infos-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: variables.$backgroundColorInfosBar;

    &__info{
        display: flex;
        gap: 40px;


        &__item{
            font-size: 14px;
            color: variables.$secundaryTextColor;

            b {
                color: variables.$secundaryTextColor;
                font-size: 18px;
                display: block;
                margin-bottom: 8px;
            }

        }
    }

    @media (max-width: 640px) {
        display: block;

        &__info {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width:1024px) {
        padding: 10px;
        gap: 15px;
    }
}